.markdown-body figure {
  margin: 0;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  /* line-height: 1.45; */
  /* color: var(--color-fg-default);
  background-color: var(--color-canvas-subtle); */
  border-radius: 6px;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #636c76;
  border-left: .25em solid #d0d7de;
}

.markdown-body h1 {
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body h2 {
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

.markdown-body :not(pre) > code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}
