@import 'reset.css';
@import 'github-markdown.css';

:root {
  --color-mint: #b2fce4;
  --color-mint-soft: #e6f9f4;
}

/* reset */
hr {
  margin-block-start: 0;
  margin-block-end: 0;
}

.markdown-body a {
  display: initial;
}

.markdown-body ul {
  list-style: initial;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body .plain-text * {
  white-space: normal;
}

.markdown-body .plain-text code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

.markdown-body .plain-text p:last-child {
  margin-bottom: 0;
}

.markdown-body em {
  font-style: italic;
  font-weight: var(--base-text-weight-semibold, 600);
  padding-right: 0.2em;
}

.markdown-body h1 {
  font-weight: 900;
  letter-spacing: -0.5px;
  color: var(--mantine-primary-color-filled);
}

.markdown-body h2 {
  font-weight: 800;
  letter-spacing: -0.5px;
}

.markdown-body h3 {
  font-weight: 700;
}

.markdown-body h4, h5, h6 {
  font-weight: 600;
}

.markdown-body pre {
  background-color: var(--color-mint-soft);
}

.markdown-body figure {
  margin: 0;
}

.logo {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  /* #8ac876
#9ccc65
#b2d672
#b7db6e
#a6d36e */
/* #8cd9b8
#77c4a3
#62ae8e
#4d9979
#387f64 */
  /* background: linear-gradient(45deg, #ff6b6b, #4ecdc4); */
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 6px;
  /* padding-right: 4px;
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite; */
}

/* @keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */